.sendRegister[disabled] {
  cursor: no-drop;
  background: lightgrey;
}
.sendRegister {
  background: #28A745;
  color: white;
  font-weight: bold;
}
.error {
  font-size: 16px;
  color: red;
  font-style: italic;
  margin-top: 0;
  padding-bottom: 20px;
}
