  <nav class="navbar navbar-expand-md sticky-top fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        <img src="../../../assets/images/workerLogo2.png" width="60px"  alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fab fa-accessible-icon" style="color:white; font-size: 30px;"></i>
      </button>
      <div class=" collapse navbar-collapse " id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item mx-auto mx-sm-3 active">
            <a class="nav-link" routerLink="">Strona Główna</a>
          </li>
          <li class="nav-item mx-3" *ngIf="!tokenService.getToken()">
            <a class="nav-link" data-toggle="modal" data-target="#myLoginModal" id="registerId" (click)="loadComponent('register')">Rejestracja</a>
          </li>
          <li class="nav-item mx-3" *ngIf="!tokenService.getToken()">
            <a class="nav-link" data-toggle="modal" data-target="#myLoginModal" (click)="loadComponent('login')">Logowanie</a>
          </li>
          <li class="nav-item mx-3" *ngIf="tokenService.getToken()">
            <a class="nav-link" routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item mx-3" *ngIf="tokenService.getToken()">
            <a class="nav-link" (click)="logout()">Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="myLoginModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" id="modalContent">
        <div class="modal-header">
          <h5 class="modal-title">Zaloguj się/Zarejestruj</h5>
        </div>
        <div class="modal-body">
          <ng-template #container></ng-template>
        </div>
      </div>
    </div>
  </div>

