  <nav class="navbar navbar-expand sticky-top fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        <img src="../../../assets/images/workerLogo2.png" width="60px"  alt="">
      </a>
      <div class="navbar-nav mr-0" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mx-3 active">
            <a class="nav-link" routerLink="">Strona Główna</a>
          </li>
          <li class="nav-item mx-3" *ngIf="!tokenService.getToken()">
            <a class="nav-link" data-toggle="modal" data-target="#myRegisterModal" id="registerId">Rejestracja</a>
          </li>
          <li class="nav-item mx-3" *ngIf="!tokenService.getToken()">
            <a class="nav-link" data-toggle="modal" data-target="#myLoginModal" >Logowanie</a>
          </li>
          <li class="nav-item mx-3" *ngIf="tokenService.getToken()">
            <a class="nav-link" routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item mx-3" *ngIf="tokenService.getToken()">
            <a class="nav-link" (click)="logout()">Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade " id="myLoginModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Zaloguj się</h5>
        </div>
        <div class="modal-body">
          <app-login></app-login>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade " id="myRegisterModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Zarejestruj się</h5>
        </div>
        <div class="modal-body">
          <app-register></app-register>
        </div>
      </div>
    </div>
  </div>



