header {
  margin-top: 0px;
  min-height: 400px;
  height: 100vh;
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('~src/assets/images/1.jpg');
}

