<header>
<div class="container">
  <div class="verticalAlign">
    <div class="projectName">
      Projekt Worker
    </div>
    <div class="projectMotto">
      Niech twoje plany będą zawsze na swoim miejscu!
    </div>
  </div>

   <!-- <div class="row">
      <div class="col-lg-4">
        <a class="btn btn-light" routerLink="login">Logowanie</a>
      </div>
      <div class="col-lg-4">
        <a class="btn btn-light" routerLink="register">Rejestracja</a>
      </div>
      <div class="col-lg-4">
        <a class="btn btn-light" routerLink="dashboard">Dashboard</a>
      </div>
    </div>-->

</div>
</header>
XD
