<div class="projectName">
  Projekt Worker
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <a class="btn btn-light" routerLink="login">Logowanie</a>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-light" routerLink="register">Rejestracja</a>
    </div>
    <div class="col-lg-4">
      <a class="btn btn-light" routerLink="dashboard">Dashboard</a>
    </div>
  </div>
  <div class="col-2">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi assumenda consequuntur est facilis fuga in iste labore minima nostrum, obcaecati quas quis, ratione reprehenderit, rerum sequi sit tenetur vel?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda corporis delectus dolor eius eligendi id in laborum laudantium magnam, maiores minima nostrum nulla perspiciatis porro qui, quod reiciendis tempora!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quam, voluptate! Adipisci assumenda beatae enim, fugiat harum illum impedit in nam neque nisi numquam officia quae quidem, sunt tenetur voluptatem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quam, voluptate! Adipisci assumenda beatae enim, fugiat harum illum impedit in nam neque nisi numquam officia quae quidem, sunt tenetur voluptatem!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quam, voluptate! Adipisci assumenda beatae enim, fugiat harum illum impedit in nam neque nisi numquam officia quae quidem, sunt tenetur voluptatem!
  </div>
</div>
